[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.4b0"
pytest = "*"
requests = "*"
pytest-watch = "*"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"],version = "*"}

[requires]
python_version = "3.7"
